<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify email</title>
    <style>
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            background-color: #e2f0ff;
        }
        .container {
            max-width: 35rem;
            padding: 3rem;
            margin: 0 auto ;
            text-align: center;
            color: #334155;
            background-color: white;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            border-radius: 0.75rem;
        }
        .container .title {
            font-size: 1.5rem;
            text-align: inherit;
        }
        .container .content {
            margin-top: 1rem;
        }
        .content .otp-item {
            background: #4285F4;
            padding: 0.5rem 1rem;
            margin: 0 auto;
            text-align: center;
            width: max-content;
            color: #CCE7F6;
            border-radius: 4px;
        }
        .content .note-item {
            color: #FF5959;
            font-size: 0.75rem;
            margin: 1rem 0;
        }
        .content .sub-note {
            margin-top: 1rem;
            font-size: 0.75rem;
        }
        .sub-note .hotline-item {
            color: #4285F4;
            text-decoration: underline;
        }
    </style>
</head>

<body>
<div class="wrapper">
    <div class="container">
        <h3 class="title">THANKS FOR SIGNING UP TO TRENDYBIDS</h3>
        <p>Hi our new member ! To get the best service and support experience, you need to complete account authentication. Please get the OTP below to authenticate your email.</p>
        <div class="content">
            <h2 class="otp-item">{{otp}}</h2>
            <div class="note-item">* Note: This OTP code will expire 5 minutes from now.</div>
            <p class="sub-note">If you have problems with our OTP code, please contact the Technical Team - Hotline:
                <span class="hotline-item">0236589325</span>
            </p>
        </div>
    </div>
</div>
</body>

</html>
